# General
BACKEND_PORT=8000
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost
CLIENT_URI=http://localhost:3000
SERVER_URI=http://localhost:8000/api/v1

# Database
DATABASE_TYPE=mysql
DATABASE_HOST=localhost
DATABASE_USERNAME=database-username
DATABASE_PASSWORD=database-password
DATABASE_NAME=database-name
DATABASE_PORT=3306
DATABASE_URL=${DATABASE_TYPE}://${DATABASE_USERNAME}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}

# Supabase
SUPABASE_URL=https://project-id.supabase.co
SUPABASE_KEY=supabase-api-key
SUPABASE_BUCKET_NAME=supabase-bucket-name
SUPABASE_JWT_SECRET=supabase-jwt-token

# Cookies
COOKIE_ACCESS_TOKEN_NAME=Funders-Access-Token
COOKIE_REFRESH_TOKEN_NAME=Funders-Refresh-Token
COOKIE_OAUTH2_TOKEN_NAME=Funders-OAuth2-Token
COOKIE_ACCOUNT_COMPLETION_TOKEN_NAME=Funders-Account-Completion-Token
COOKIE_DOMAIN=localhost
COOKIE_SECRET=cookie-secret

# JWT
JWT_SECRET=jwt-secret
JWT_ACCESS_TOKEN_DURATION=1d
JWT_REFRESH_TOKEN_DURATION=1m
JWT_REFRESH_TOKEN_EXTENDED_DURATION=60d
JWT_OAUTH2_TOKEN_DURATION=1y
JWT_ACCOUNT_COMPLETION_TOKEN_DURATION=1y
JWT_ISSUER=jwt-issuer
JWT_AUDIENCE=jwt-audience

# Passwords
USER_PASSWORD_SALT_PREFIX=user-passwors-salt-prefix
USER_PASSWORD_SALT_SUFFIX=user-password-salt-suffix
USER_PASSWORD_SALT_ROUNDS=10

# Logger
DEFAULT_LOG_LEVEL=debug

# Stripe
STRIPE_PUBLISHABLE_KEY=stripe-publishable-key
STRIPE_SECRET_KEY=stripe-secret-key
STRIPE_DEFAULT_CURRENCY=stripe-default-currency

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=username
REDIS_PASSWORD=password
REDIS_TLS_ENABLED=false
REDIS_TLS_CA=redis-tls-ca
REDIS_TLS_KEY=redis-tls-key
REDIS_TLS_CERT=redis-tls-cert

# Google
GOOGLE_CLIENT_ID=google-client-id
GOOGLE_CLIENT_SECRET=google-client-secret

# Discord
DISCORD_CLIENT_ID=discord-client-id
DISCORD_CLIENT_SECRET=discord-client-secret

# Solana
SOLANA_RPC_HTTP_ENDPOINT=https://api.devnet.solana.com/
AUTH_MESSAGE_TEMPLATE=':domain wants you to sign in with your Solana account:
:address

:statement

URI: :uri
Version: :version
Chain ID: :chainId
Nonce: :nonce
Issued At: :issuedAt
Expiration Time: :expirationTime
Not Before: :notBefore
Request ID: :requestId
Resources:
:resources'

# Funders Core Program
FUNDERS_CORE_PROGRAM_ID=7HCeHcJGhxTH9jx6G9uB5Fn63gnBxFNuAvdL5vE563Q6
FUNDERS_CORE_PROGRAM_ADMIN_PUBLIC_KEY=funders-core-program-admin-public-key
FUNDERS_CORE_PROGRAM_ADMIN_PRIVATE_KEY=funders-core-program-admin-private-key

# Docker
DOCKER_INTERNAL_BACKEND_PORT=8000
DOCKER_INTERNAL_DATABASE_PORT=3306
DOCKER_INTERNAL_NGINX_PORT=80
DOCKER_INTERNAL_NGINX_SSL_PORT=443
DOCKER_INTERNAL_REDIS_PORT=5555